# Introdução à Ciência de Dados com Python

## Prof. Dr. Neylson Crepalde

### Introdução

Primeiros usos básicos da linguagem python: python como calculadora.

In [1]:
5 + 5 #adição

10

In [2]:
5 - 4 #subtração

1

In [3]:
5 * 3 #multiplicação

15

In [4]:
5 / 2 # divisão

2.5

In [6]:
5 // 2 # divisão inteira!

2

In [7]:
5 % 2 # resto da divisão

1

In [8]:
5**2 # eleva ao quadrado

25

Podemos atribuir valores a objetos e trabalhar com eles:

In [9]:
x = 5
y = 7

Fazendo operações com objetos:

In [10]:
x + y

12

In [11]:
x * y

35

In [14]:
x / y

0.7142857142857143

## Listas

No python as listas são bastante úteis. Para criar uma lista, usamos `[  ]`

In [16]:
vetor = [5, 6, 3, 1, 2]
vetor

[5, 6, 3, 1, 2]

Para acessar qualquer elemento dentro da lista, usamos `[  ]` e passamos o `index` que queremos obter. **ATENÇÃO!** Para acessar o primeiro elemento, passamos o index **0**.

In [17]:
vetor[0] # deve retornar 5

5

Para acessar o segundo elemento, passamos o index 1

In [20]:
vetor[1] # deve retornar 6

6

Para acessar o último elemento, podemos passar -1 para contar "de trás pra frente"

In [19]:
vetor[-1] # deve retornar 2

2

Podemos acessar um âmbito da lista passando o primeiro índice e o último índice + 1. **Atenção**: o índice de início é inclusivo, contém o seu valor correspondente. O índice do final é exclusivo, não contém o valor correpondente mas apenas o anterior. Para obter do segundo ao terceiro elementos, fazemos

In [21]:
vetor[1:3]

[6, 3]

Para obter do terceiro ao quarto elementos, fazemos

In [22]:
vetor[2:4]

[3, 1]

Para obter do início até o terceiro, podemos fazer

In [23]:
vetor[:3]

[5, 6, 3]

Para obter do segundo até o último, pode fazer

In [25]:
vetor[1:]

[6, 3, 1, 2]

Para obter do terceiro até o penúltimo, fazemos

In [28]:
vetor[1:-1]

[6, 3, 1]

Para obter do terceiro até o antepenúltimo:

In [30]:
vetor[1:-2]

[6, 3]

Para modificar apenas o segundo item da lista, podemos atribuir um valor especificamente a esta posição:

In [31]:
vetor[1] = 15
vetor

[5, 15, 3, 1, 2]

Para acrescentar um valor ao final da lista, usamos `append`

In [32]:
vetor.append(22)
vetor

[5, 15, 3, 1, 2, 22]

Para retirar um elemento da lista, usamos `pop` e passamos o índice que queremos retirar. Vamos retirar o terceiro

In [33]:
vetor.pop(2)
vetor # está sem o número 3

[5, 15, 1, 2, 22]

Para inverter a lista, usamos `reverse`:

In [34]:
vetor.reverse()
vetor

[22, 2, 1, 15, 5]

Para ordenar, usamos `sort`.

In [35]:
vetor.sort()
vetor

[1, 2, 5, 15, 22]

Cuidado ao tentar somar lista. Ela não executa a soma de seus elementos, mas os concatena:

In [1]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

A multiplicação opera de maneira similar. Para criar uma lista com 10 números 3, podemos fazer:

In [2]:
[3] * 10

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

## Princípios de Lógica de Programação - Condicionais

Em python possuímos um dado de tipo booleano que pode assumir dois valores, `True` ou `False`. Podemos usá-los para fazer testes de condições.

In [37]:
5 > 3  # 5 é maior do que 3?

True

In [38]:
5 <= 3 # 5 é menor ou igual a 3?

False

In [39]:
x = 6 # atribui 6 a x
x == 5  # x é igual a 5?

False

In [40]:
x != 5 # x é diferente de 5?

True

Podemos usar os condicionais `if` e `else` para condicionar a execução de alguma parte do código a condições específicas.

In [45]:
idade = 33

if idade <= 25:
    print("Meu jovem...")
else:
    print("Adulto responsável!")

Adulto responsável!

Se houverem mais de 3 condições, será necessário excluir condições com `elif` (`else` + `if`)

In [50]:
idade = 33

if idade <= 25:
    print("Meu jovem...")
elif idade < 60:
    print("Adulto responsável!")
else:
    print("A fase da sabedoria!")

Adulto responsável!

Quando atribuímos o valor de `True` ou `False`, uma condição simples indica igualdade a True. Veja o exemplo:

In [54]:
mineiro = True

if mineiro:
    print("Êspenscuônsédês... desafôro, sô...")
else:
    print("Oi?????")

Êspenscuônsédês... desafôro, sô...

## Executando tarefas repetidas com Loop For

Se quisermos exibir na tela números de 1 a 10, aos invés de usar o método `print()` 10 vezes, podemos usar um loop `for`.

A sintaxe do loop for segue a seguinte estrutura:

```python
for iterador in conjunto:
    execute_uma_acao()
```

A cada rodada o `iterador` assume um valor do conjunto. Por exemplo:

In [55]:
for i in range(10): # para cada item de 0 a 9
    print(i)        # exibe o item

0
1
2
3
4
5
6
7
8
9

Podemos inserir também condições. Exemplo:

Para cada número de 1 a 9, se for par, exiba na tela "par". Se não, exiba "ímpar".

In [57]:
for i in range(1, 10):
    if i % 2 == 0: # se o resto da divisão do item por 2 for 0
        print("Par")
    else:
        print("Ímpar")

Ímpar
Par
Ímpar
Par
Ímpar
Par
Ímpar
Par
Ímpar

Esse foi o nosso básico do básico. Agora, vamos seguir no próximo *notebook* e começar a trabalhar com a principal biblioteca de Data Science, o pai de todos, **NumPy**.