# Introdução à Ciência de Dados com Python

## Prof. Dr. Neylson Crepalde

### Pandas DataFrames

Os DataFrames do Python são os Pandas!!! São estruturas excelentes de se trabalhar. Vamos pegar um caso de exemplo e fazer algumas análises descritivas.

In [38]:
import pandas as pd

Vamos ler uma amostra de dados da PNAD 2012 direto da internet:

In [39]:
pnad = pd.read_csv("https://github.com/neylsoncrepalde/introducao_ao_r/blob/master/dados/pes_2012.csv?raw=true")
pnad

,V0101,UF,V0302,V8005,V0404,V4803,V4718,V4720,V4729
0,2012,Rondônia,Masculino,48,Branca,15 anos ou mais,3000,3000,232
1,2012,Rondônia,Feminino,48,Branca,15 anos ou mais,3000,3000,232
2,2012,Rondônia,Feminino,23,Branca,15 anos ou mais,1100,1100,232
3,2012,Rondônia,Feminino,21,Branca,14 anos,1100,1100,232
4,2012,Rondônia,Feminino,54,Branca,15 anos ou mais,NaN,460,232
...,...,...,...,...,...,...,...,...,...
362446,2012,Distrito Federal,Feminino,51,Branca,15 anos ou mais,NaN,0,290
362447,2012,Distrito Federal,Masculino,53,Branca,12 anos,20000,20000,290
362448,2012,Distrito Federal,Masculino,21,Branca,13 anos,NaN,0,290
362449,2012,Distrito Federal,Masculino,19,Branca,13 anos,NaN,0,290
362450,2012,Distrito Federal,Masculino,40,Branca,15 anos ou mais,13000,13000,290

In [40]:
# Para verificar o tamanho do dataset
pnad.shape

(362451, 9)

In [41]:
# Para ver os nomes das colunas
pnad.columns

Index(['V0101', 'UF', 'V0302', 'V8005', 'V0404', 'V4803', 'V4718', 'V4720',
       'V4729'],
      dtype='object')

In [42]:
# Para visualizar apenas uma coluna
pnad['UF']

0                 Rondônia
1                 Rondônia
2                 Rondônia
3                 Rondônia
4                 Rondônia
                ...
362446    Distrito Federal
362447    Distrito Federal
362448    Distrito Federal
362449    Distrito Federal
362450    Distrito Federal
Name: UF, Length: 362451, dtype: object

In [43]:
# OU
pnad.V0302

0         Masculino
1          Feminino
2          Feminino
3          Feminino
4          Feminino
            ...
362446     Feminino
362447    Masculino
362448    Masculino
362449    Masculino
362450    Masculino
Name: V0302, Length: 362451, dtype: object

Vamos fazer algumas análises. Para as variáveis categóricas UF e V0302 (Cor/Raça) podemos fazer contagens de valores.

In [45]:
pnad['V0302'].value_counts()

Feminino     186054
Masculino    176397
Name: V0302, dtype: int64

Para montar uma tabelinha com valores proporcionais, basta dividir os valores pelo total.

In [46]:
pnad.V0302.value_counts() / pnad.shape[0]  # quantidade de homens e mulheres sobre o total de linhas

Feminino     0.513322
Masculino    0.486678
Name: V0302, dtype: float64

Para analisar a variável idade, vamos utilisar estatísticas descritivas.

In [59]:
# média
pnad.V8005.mean()

32.63801175883085

In [58]:
# OU
np.mean(pnad.V8005)

32.63801175883085

In [60]:
# mediana
pnad.V8005.median()

30.0

In [61]:
# Variância
pnad.V8005.var()

431.4064534606153

In [64]:
# desvio padrão (que é a raiz quadrada da variância)
pnad.V8005.std()

20.77032627236788

In [65]:
# Para várias estatísticas descritivas de uma vez, podemos usar 
pnad.V8005.describe()

count    362451.000000
mean         32.638012
std          20.770326
min           0.000000
25%          15.000000
50%          30.000000
75%          48.000000
max         117.000000
Name: V8005, dtype: float64